
body.dark {
  --bg-color: #222;
  --bg-secondary-color: #131211;
  --font-color: #EAEAEA;
  --color-lightGrey: #666;
  --color-grey: #ccc;
  --color-darkGrey: #777;
  --card-bg-color: #333;
  --card-shadow-color: var(--bg-secondary-color);
  --input-bg-color: #333;
  --input-color: var(--font-color);
}