.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column.reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex-0 {
  flex: 0;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}