.light {
  --bg-color: #EEE;
  --bg-secondary-color: #DEDEDE;
  --card-bg-color: #FFF;
  --card-shadow-color: #CCC;
  --color-primary: dodgerblue;
  --color-primary-contrast: #ffffff;
  --color-lightGrey: #d2d6dd;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #d43939;
  --color-success: #28bd14;
  --color-warning: orange;
  --color-highlight: yellow;
  --font-color: #333333;
  --input-bg-color: #FFF;

  color-scheme: light;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #EEE;
    --bg-secondary-color: #DEDEDE;
    --card-bg-color: #FFF;
    --card-shadow-color: #CCC;
    --color-primary: dodgerblue;
    --color-primary-contrast: #ffffff;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --color-warning: orange;
    --color-highlight: yellow;
    --font-color: #333333;
    --input-bg-color: #FFF;
  }
}